.calc-row {
    height: 100vh;
    font-family: 'Share Tech Mono', monospace;
}

.input-window {
    text-align: end;
    font-size: x-large;
}

#btn_clr {
    background-color: red;
    color: black;
}


/*.col {
    background-color: chartreuse;
}

*/

.btn-outline-primary  {

    background-color: chartreuse;
    color: black;

}

#btn_calc {
    background-color: rgb(255, 239, 8);
}

.card-body {
    background-color: darkslategray;
}